body {
    background-color: #DFDDD7;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}

header {
    background-color: #49443A;
}
header .logo-link {
    width: 23%;
    padding: 1%;
    text-align: left;
}

nav {
    width: 50%;
    padding: 2%;
    
}

nav ul {
    width: 50%;
    margin-left: auto;
}

.section-container {
    display: flex;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.heroImg {
    height: 600px;
    padding: 2%;
}

.content {
    width: 500px;
    margin: 0 auto;
}

.resume {
    margin: 20%;

}
footer {
    background-color: #49443A;
    vertical-align: bottom;
    padding: 2%;
}

footer .logo-link {
    display: inline-block;
    text-align: left;
    scale: 50%;
    padding: 2%;
}

.links, .social-icons {
    display: inline-block;
    list-style: none;
    text-align: center;
    width: 30%;
}

.links {
    padding: 2%;
}

.social-icons li {
    margin-right: 2%;
    display: inline-block;
    padding: 2%;
}