body {
    background-color: #49443A;
}
.inline-block {
    display: inline-block;
    vertical-align: top;
}

header .logo-link {
    width: 23%;
    padding: 1%;
    text-align: center;
}

nav {
    width: 73%;
    padding: 1%;
}

nav ul {
    width: 50%;
    margin-left: auto;
}

.heroImg {
    height: 600px;
    padding: 25px;
}

.content {
    width: 500px;
    margin: 0 auto;
}

footer {
    text-align: center;
}

hr {
    border: 2px solid #DFDDD7;
    margin: 16px;
}

footer .logo-link {
    display: inline-block;
    text-align: left;
    width: 15%;
    padding: 2%;
}

.links, .social-icons {
    display: inline-block;
    list-style: none;
    text-align: center;
}

.links {
    text-align: right;
}

.social-icons li {
    margin-right: 2%;
    display: inline-block;
}


